<ion-header>
  <ion-toolbar>
    <ion-title>date-schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form [formGroup]="myForm">
  <ion-item>
    <ion-label position="floating">Fecha a programar<ion-text color="danger">*</ion-text></ion-label>
    <ion-input required formControlName="dateQuote" type="date"></ion-input>
  </ion-item>

  <ion-button block color="primary" type="submit" (click)="updateQuote()" [disabled]="myForm.invalid">
    Programar fecha
  </ion-button>
</form>
</ion-content>
