<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-row class="contentView">
    <ion-row class="itemMain" (click)="openText()" >
      <ion-row >
        <ion-row size-lg="6" size-md="6" size-sm="6" size="12"  class="textButton"><ion-label>Actualizar mi perfil</ion-label></ion-row>
        <ion-row  class="iconView"><ion-icon size="large" name="arrow-forward-outline" ></ion-icon></ion-row>
      </ion-row>
    </ion-row>
    <ion-row class="itemMain" (click)="openText()" >
      <ion-row >
        <ion-col size-lg="6" size-md="6" size-sm="6" size="12"  class="textButton"><ion-label>Datos de tu mascota</ion-label></ion-col>
        <ion-row  class="iconView"><ion-icon size="large" name="arrow-forward-outline" ></ion-icon></ion-row>
      </ion-row>
    </ion-row>
    <ion-row detail="true" class="itemMain" (click)="openText()" >
      <ion-row >
        <ion-col size-lg="6" size-md="6" size-sm="6" size="12"  class="textButton"><ion-label>Citas de tu mascota</ion-label></ion-col>
        <ion-row  class="iconView"><ion-icon size="large" name="arrow-forward-outline" ></ion-icon></ion-row>
      </ion-row>
    </ion-row>
    <ion-row class="itemMain" (click)="openText()" >
      <ion-row >
        <ion-col size-lg="6" size-md="6" size-sm="6" size="12"  class="textButton"><ion-label>Cerrar sesión</ion-label></ion-col>
        <ion-row  class="iconView"><ion-icon size="large" name="arrow-forward-outline" ></ion-icon></ion-row>
      </ion-row>
    </ion-row>
  </ion-row>
</ion-content>
