<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center ion-text-center">
    <ion-label class="primaryText">A continuacion podras encontrar una serie de tips para una mejor vida a tu mascota</ion-label>
  </ion-row>
  <ion-col size="12">
    <ion-accordion-group >
      <ion-accordion value="colors">
        <ion-item slot="header" class="borderedInput">
          <ion-label>Identifica a tu mascota</ion-label>
        </ion-item>
  
        <ion-list slot="content">
          <ion-item>
            <ion-badge color="primary"> Seguridad</ion-badge>
          </ion-item>
          <ion-item>
            <p>
              Puedes identificar a tu mascota de varias formas, las más conocidas y fundamentales son dos:
              Chapa de identificación. En el collar o el arnés que le pongas a tu perro 
              Microchip. Es tan necesario como fundamental
            </p>
          </ion-item>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>    
  </ion-col>
  <ion-col size="12">
    <ion-accordion-group >
      <ion-accordion value="colors">
        <ion-item slot="header" class="borderedInput">
          <ion-label>Ofrecele buena alimentacion</ion-label>
        </ion-item>
  
        <ion-list slot="content">
          <ion-item>
            <ion-badge color="success">Salud</ion-badge>
          </ion-item> 
          <ion-item>
            <p>
              Es fundamental para tu perro estar bien alimentado. 
              La norma número uno para cuidar perros en casa es ofrecerle una dieta variada y saludable. 
              puedes optar por dietas secas o húmedas, incluso por una alimentación natural y cocinar tus propias recetas. 
            </p>
          </ion-item>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>    
  </ion-col>
  <ion-col size="12">
    <ion-accordion-group >
      <ion-accordion value="colors">
        <ion-item slot="header" class="borderedInput">
          <ion-label>Lavado constantemente</ion-label>
        </ion-item>
  
        <ion-list slot="content">
          <ion-item>
            <ion-badge color="tertiary">Higiene</ion-badge>
          </ion-item>            
          <ion-item>
            <p>
              La higiene es otro aspecto que no debes descuidar. 
              Cepilla a tu perro diariamente, o varias veces al día si tiene mucho pelo. 
              Con este gesto, además de eliminar pelo y piel muerta, estrechas lazos con tu perro y afianzas vuestro vínculo. 
              Aprovecha y cuida a tu perro al máximo: háblale con cariño, acarícialo, que sienta todo tu amor y respeto.
            </p>
          </ion-item>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>    
  </ion-col>
  <ion-col size="12">
    <ion-accordion-group >
      <ion-accordion value="colors">
        <ion-item slot="header" class="borderedInput">
          <ion-label>No lo dejes solo</ion-label>
        </ion-item>
  
        <ion-list slot="content">
          <ion-item>
            <ion-badge color="danger">Salud Mental</ion-badge>
          </ion-item> 
          <ion-item class="borderedInput">
            <p>Nunca dejes solo a tu mascota, en ningún lugar, mucho menos en un coche durante las horas centrales del día. Si no te queda más remedio y debes dejarlo solo en casa, procura que no sea demasiado tiempo. Existen, si no puedes dejarlo en compañía de otra persona, piensa en las opciones que tienes. ¡Siempre hay una alternativa!</p>
          </ion-item>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>    
  </ion-col>
  <ion-col size="12">
    <ion-accordion-group >
      <ion-accordion value="colors">
        <ion-item slot="header" class="borderedInput">
          <ion-label>Educa a tu mascota </ion-label>
        </ion-item>
  
        <ion-list slot="content">
          <ion-item>
            <ion-badge color="warning">Educación</ion-badge>
          </ion-item>           
          <ion-item>
            <p>Una de las mejores cosas que puedes hacer por tu perro es educarlo. Enséñale a hacer sus necesidades en los lugares adecuados, a socializar con otras personas y animales. Es muy importante hacerlo mientras es un cachorro, y que sea un aprendizaje para toda la vida. </p>
          </ion-item>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>    
  </ion-col>
</ion-content>
