.gradientBack {
    background: linear-gradient(#4E4C67, #A6B1E1);
    height: 200px;
    z-index: 0;
  }

  .primaryText {
    color: #4E4C67;
    font-size: 1.5rem;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .input {
    border-radius: 10px;
  }
  .buttonStyle {
    border-radius: 10px;
    height: 50px;
    font-size: large;
  }
  .registerText {
    color: #4E4C67;
  }
