<ion-header [translucent]="true"> </ion-header>

<ion-content [fullscreen]="true" >
    <ion-grid fixed>
        <ion-row class="ion-justify-content-center">
            <img src="../../../assets/LogoVeterinaria.png" id="img-logo" />
        </ion-row>
      
        <form [formGroup]="Sesion">
            <ion-card color="red">
                <ion-label>Correo electrónico</ion-label>
                <ion-input type="text" formControlName="email" placeholder="Ingrese aquí su correo electrónico" class="placeholder"></ion-input>
                <p></p>
                <ion-label>Contraseña</ion-label>
                <ion-input type="password" formControlName="password" placeholder="Ingrese aquí su contraseña" class="placeholder"></ion-input>

                <ion-button expand="block" class="login" (click)="toUserProfile()">Iniciar sesión</ion-button>
                <p></p>
                <ion-button expand="block" color="light" (click)="toRegister()">Registrarse</ion-button>
                <p></p>
                

                <p></p>
                <ion-row class="ion-justify-content-center">
                    <a routerLink="/restore-password">Olvidé mi Contraseña</a>
                </ion-row>
            </ion-card>
        </form>
    </ion-grid>
</ion-content>