.borderedStyle {
    margin-left: 5px; 
    margin-right: 10px; 
    border-radius: 10px;
    background-color: gray;
    margin-bottom: 15px;
}
.centeredText{
    margin-top: 15px;
    margin-bottom: 15px;
}