$colors: (
	primary: #4E4C67,
);
.ionColor {
    background: #985F6F;
}
.borderedInput {
    margin-left: 10px; 
    margin-right: 10px; 
    margin-bottom: 20px; 
    border-radius: 10px;
}
.buttonStyle {
    border-radius: 25px;
    height: 50px;
    font-size: large;
    margin-top: 20px;
  }