<ion-header>
  <ion-toolbar class="ion-color" [style.background-color]="'#985F6F'" >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registrarme</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-col >
  <form [formGroup]="myForm">
    <ion-item class="borderedInput">
      <ion-label position="floating">Nombre <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="name" type="text"></ion-input>
    </ion-item>
    <ion-item class="borderedInput">
      <ion-label position="floating">Apellidos <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="lastname" type="text"></ion-input>
    </ion-item>

    <ion-item class="borderedInput">
        <ion-label position="floating">Foto de perfil (Link) <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required formControlName="photo" type="text"></ion-input>            
    </ion-item>

    <ion-item class="borderedInput">
      <ion-label position="floating">Correo Electrónico <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="email" type="text"></ion-input>
    </ion-item>
    <ion-item class="borderedInput">
      <ion-label position="floating">Contraseña <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="password" required formControlName="password" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Soy un veterinario</ion-label>
      <ion-toggle formControlName="role"  slot="start" [(ngModel)]="show"></ion-toggle>
    </ion-item> 
    <ion-button type="submit" [disabled]="myForm.invalid" class="ion-color buttonStyle" [style.background-color]="'#985F6F'"  expand="block" (click)="createUser()">
      Registrarse
    </ion-button>

  </form>
</ion-col>
    
</ion-content>
