<ion-header>
  <ion-toolbar>
    <ion-title>intro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" >
    <ion-slide>
     <ion-text color="ligth"> 
       <img src="https://play-lh.googleusercontent.com/90hqImKBI8ur2F7Zb_NAT_xnXqLkMcDGsBmWzt3nbm2OxWPeJ0rc1M3b-FAyF_37_gQ"> 
       <h1>Hey There!</h1>
       <p>Este es el slide 1</p>
       <ion-button (click) ="next()" fill="outline" color="ligth">Siguiente</ion-button>
     </ion-text>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>

</ion-content>
