<ion-header>
  <ion-toolbar>
    <ion-title>intro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" >
    <ion-slide>
     <ion-text color="ligth"> 
       
       <h1>Hey There!</h1>
       <p>Este es el slide 1</p>
       <ion-button (click) ="next()" fill="outline" color="ligth">Siguiente</ion-button>
     </ion-text>
    </ion-slide>
    <ion-slide>
      <ion-text color="ligth"> 
        
        <h1>Hey There!</h1>
        <p>Este es el slide 2, vamos al login</p>
        <ion-button (click) ="start()" fill="outline" color="ligth">Siguiente</ion-button>
      </ion-text>
     </ion-slide>
  </ion-slides>

</ion-content>
