<ion-header>
  <ion-toolbar>
    <ion-title>waitlist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list >
    <ion-card >
        <img src="https://i1.wp.com/noticiasdeperros.com/img/2014/08/DSC_0025-1-copia.jpg?fit=1805%2C1200&ssl=1" alt=" " srcset="" />
        <ion-card-header>
            <ion-card-subtitle>
                <ion-label> JUAN PEREZ</ion-label>
            </ion-card-subtitle>
            <ion-card-title>$PRECIO MXN
            </ion-card-title>
            <p></p>
            <ion-row class="ion-align-items-center">
                Vendido por:

                <ion-chip color="dark">
                    <ion-avatar>
                        <img src="" />
                    </ion-avatar>
                    <ion-label> DR.JONA
                    </ion-label>
                </ion-chip>
            </ion-row>
            <ion-row class="ion-align-items-center">
                Etiquetas:
          
                <ion-chip color="warning">
                    <ion-icon name="location"></ion-icon>
                    <ion-label>ESTATUS</ion-label>
                </ion-chip>
                <ion-chip color="secondary">
                    <ion-icon name="cloudy"></ion-icon>
                    <ion-label>FECHA</ion-label>
                </ion-chip>
            </ion-row>
        </ion-card-header>

        <ion-card-content>
            <ion-row class="ion-justify-content-center">
                <ion-button expand="block " color="primary " id="about-button">
                    <ion-label>Sobre el producto</ion-label>
                </ion-button>
            </ion-row>
        </ion-card-content>
    </ion-card>
</ion-list>
</ion-content>
