.borderedStyle {
    margin-left: 5px; 
    margin-right: 10px; 
    border-radius: 10px;
    background-color: gray;
    margin-bottom: 15px;
}
.buttonStyle {
    border-radius: 10px;
    height: 50px;
    font-size: large;
  }