<ion-header>
  <ion-toolbar>
    <ion-title>date-register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="myForm">
    <ion-card>
        <p></p>
        <ion-row class="image-message-header">
            <!-- <img class="image-message" src="{{product.img}}" alt="" srcset="" /> -->
        </ion-row>
        <p></p>
        <ion-row class="ion-justify-content-center">
            <ion-label>Agendar cita</ion-label>
        </ion-row>
        <ion-card-header>
            <ion-card-subtitle>
                <ion-row class="ion-justify-content-center">
                    <ion-item>
          
                    </ion-item>
                </ion-row>
            </ion-card-subtitle>
            <ion-card-title>
                <strong>Cita con un DOGTOR:</strong>
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
              
                <ion-item>
                    <ion-label position="floating">Petición de la cita <ion-text color="danger">*</ion-text></ion-label>
                    <ion-input required formControlName="description" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Nombre de la mascota <ion-text color="danger">*</ion-text></ion-label>
                    <ion-input required formControlName="petName" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Foto <ion-text color="danger">*</ion-text></ion-label>
                    <ion-input required formControlName="photo" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Color <ion-text color="danger">*</ion-text></ion-label>
                    <ion-input required formControlName="color" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Peso en kg (Mascota) <ion-text color="danger">*</ion-text></ion-label>
                    <ion-input required formControlName="weight" type="numbre"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Raza (Mascota) <ion-text color="danger">*</ion-text></ion-label>
                    <ion-input required formControlName="race" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Caracteristicas particulares (Mascota) <ion-text color="danger">*</ion-text></ion-label>
                    <ion-input required formControlName="particularSign" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Tamaño (Mascota) <ion-text color="danger">*</ion-text></ion-label>
                    <ion-input required formControlName="size" type="text"></ion-input>
                </ion-item>
                
        <ion-button (click)="createDate()" color="primary" expand="block" fill="clear" shape="round">
            Agendar
        </ion-button>


        </ion-card-content>
    </ion-card>
</form>
</ion-content>
